cta-pokemon-list {
  .pokemon-list-page {
    margin-top: 4rem;
  }

  .mat-card-header-text {
    width: 100%;
  }

  .header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .search-field {
    font-size: 0.75rem;
    margin-left: 2rem;
  }
}
