<div class="pokemon-list-page container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="header-title">
        <div>
          <span>Pokemon List</span>
          <span>
            <mat-form-field class="search-field" appearance="outline">
              <mat-label>Search</mat-label>
              <input matInput [formControl]="filter" />
            </mat-form-field>
          </span>
        </div>
        <mat-paginator
          [length]="pokemonsCount$ | async"
          [pageSize]="pageSize$ | async"
          [pageIndex]="pageIndex$ | async"
          (page)="onPageChange($event)"
          [pageSizeOptions]="[5, 10, 25, 100]"
        >
        </mat-paginator
      ></mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-list role="list">
      <mat-list-item *ngFor="let pokemon of pokemons$ | async" role="listitem">
        {{ pokemon.name }}
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
