.pokemon-details-page {
  margin-top: 4rem;
}

.pokemon-avatar {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.pokemon-title {
  font-size: 2rem;
  margin: 0;
}

.pokemon-card-header {
  height: 5rem;
  display: flex;
  align-items: center;
}

.back-arrow {
  margin-left: auto;
}

.pokemon-card-content {
  margin-top: 1rem;
}

.pokemon-actions {
  display: flex;
  justify-content: flex-end;
}
